<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["imagesparkline"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var rx_data = new google.visualization.DataTable({{ rx_data|safe }});
        var tx_data = new google.visualization.DataTable({{ tx_data|safe }});
        var rx_chart = new google.visualization.ImageSparkLine(document.getElementById('rx_chart_div'));
        var tx_chart = new google.visualization.ImageSparkLine(document.getElementById('tx_chart_div'));
        rx_chart.draw(rx_data, {width: 190, height: 63, showAxisLines: false,  showValueLabels: true, labelPosition: 'none'});
        tx_chart.draw(tx_data, {width: 190, height: 63, showAxisLines: false,  showValueLabels: true, labelPosition: 'none'});
      }
    </script>
  </head>

  <body>
    <div id="rx_chart_div"></div>
    <div id="tx_chart_div"></div>
  </body>
</html>